# Dependencies
node_modules/
.pnp
.pnp.js

# Environment & secrets (NEVER commit)
.env
.env.*
!.env.example
.env.local
.env.development
.env.production
.env.test
.env.local.example
.env.development.local.example
.env.production.local.example
.env.test.local.example
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.exemple.local
.env.exemple
*.pem
*.key

# Next.js
.next/
out/
build/

# Production
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/
.nyc_output/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
.cache/
.parcel-cache/
.turbo/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
